.card {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 90%; /* Mesma largura do componente Group */
    max-width: 90vw; /* Mesma largura máxima do componente Group */
  }
  
  .card-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center; /* Alinhar o título ao centro */
  }
  
  .card-departure,
  .card-travel-time {
    font-size: 14px;
    color: #888888;
    margin-bottom: 5px;
    text-align: center; /* Alinhar os campos ao centro */
  }
  