:root{
    --background-footer: #73a4e6; 
}

.footer{
    background-color: var(--background-footer);
    height: 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer h5{
    font-size: 12px;
    margin-top: 1em;
}

.social{
    display: flex;
    gap: 4em;
}