.section-group {
  padding: 20px;
  border-radius: 10px;
  background-color: #F2E5D7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.section-group h3 {
  font-size: 18px;
  font-weight: bold;
  color: #483C3C;
  text-align: center;
  margin-top: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
}

.card {
  flex: 0 0 auto;
  margin-right: 10px;
}
